.phase3 hr {
  background-color: #9a0f98;
  height: 1px;
  width: 10em;
}
.phase3 {
  margin: 0;
  background: linear-gradient(-0deg, #39065a, white);

}
.photo {
  max-width: 25%;
  min-width: 420px;
}
.phase3 h1 {
  color: #9a0f98;
  text-align: center;
  margin: 0;
}
.container-photos {
  padding: 40px;
  margin: auto;
  max-width: 1440px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  gap: 3rem;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.phase3 img {
  transition: 0.2s ease;
  width: 100%;
}
.phase3 img:hover {
  transform: scale(1.15);
  -webkit-transform: scale(1.15);
  -ms-transform: scale(1.15);
}
@media only screen and (max-width: 480px) {
  .container-photos {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .photo {
    max-width: 100%;
    min-width: 0;
  }
}
